.bg_image {
    background: linear-gradient(rgb(232, 237, 234, 0.5), rgb(232, 237, 234, 0.5)), 
    url("/public/assets/img/gallery/gallery-7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
};